# YANGI .env FAYL YARATING VA
# QUYIDAGI MA'LUMOTLARNI YOZING:

ADMINS=578687963
BOT_TOKEN=8305446770:AAGZGLPM96i8lD1__0T8Rtytu7h9yfAa7xXXo


# PostgreSQL
DB_USER=postgres
DB_PASS=1234
DB_NAME=telegrambot
DB_HOST=localhost

# SMTP Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
SMTP_USE_SSL=True
SMTP_FROM=
SMTP_FROM_NAME="Telegram Bot"